## Read the data

This code will give you the data you will use for this PC:

In [78]:
# read web table into pandas DF
import pandas as pd

co2Link='https://docs.google.com/spreadsheets/d/e/2PACX-1vRXjfxeKHQBBCh_oHP-D6RIHEX4eduLjydHb6ZGsU4jo0IK0KKQSoYX_X1FGssC_9hnqCgjKN0K4AVf/pub?gid=775098192&single=true&output=csv'
carbon=pd.read_csv(co2Link)

In [79]:
# here it is:
carbon

,name,metric tonnes of CO2,date_of_information,ranking,region
0,China,1.219600e+10,2023,1,East and Southeast Asia
1,United States,4.795000e+09,2023,2,North America
2,India,2.821000e+09,2023,3,South Asia
3,Russia,1.844000e+09,2023,4,Central Asia
4,Japan,9.602300e+08,2023,5,East and Southeast Asia
...,...,...,...,...,...
211,Falkland Islands (Islas Malvinas),3.600000e+01,2023,212,South America
212,Montserrat,2.400000e+01,2023,213,Central America and the Caribbean
213,Antarctica,1.500000e+01,2023,214,Antarctica
214,"Saint Helena, Ascension, and Tristan da Cunha",1.200000e+01,2023,215,Africa
215,Niue,9.000000e+00,2023,216,Australia and Oceania

As you see, some columns have space, which should be deleted:

In [80]:
# also
carbon.columns

Index(['name', 'metric tonnes of CO2', 'date_of_information', 'ranking',
       'region'],
      dtype='object')

In [81]:
# Like this
carbon.rename(columns={'metric tonnes of CO2':'metric_tonnes_of_CO2'},inplace=True)

# see
carbon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  216 non-null    object
 1   metric_tonnes_of_CO2  216 non-null    float64
 2   date_of_information   216 non-null    int64
 3   ranking               216 non-null    int64
 4   region                216 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 8.6+ KB

You always make a copy:

In [113]:
carbon_copy=carbon.copy()

## Questions

Complete the tasks requested using **carbon_copy**:

1. Keep all the columns but _Ranking_:
    * Tip: use [drop](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html), [loc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html), and [iloc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html) for the same purpose (three ways to accomplish the task).

2. Find the country with the minimum CO2 emission in the world.

3. Find the country with the minimum CO2 emission per Region.

4. Create a new column by keeping the square root of the the original CO2  column.

5. Compute the average of CO2. Then, create a new column. This new column is
the original CO2 minus the average computed.

You have changed **carbon_copy**, now save it as a file like this:

###Parte I

Nos piden eliminar la columna de ***ranking*** en la tabla para eso se establecio una copia ***carbon_copy***

In [114]:
#Usamos la entrada 'bye_Columns' para establecer lo que queremos eliminar.
bye_Columns=['ranking']

#Primero usamos la funcion '.drop()', la cula nos da acceso a objetos de tipo DataFrame.
carbon_copy.drop(columns=bye_columns,inplace=True)

#Devolvemos la tabla con el cambio realizado.
carbon_copy

,name,metric_tonnes_of_CO2,date_of_information,region
0,China,1.219600e+10,2023,East and Southeast Asia
1,United States,4.795000e+09,2023,North America
2,India,2.821000e+09,2023,South Asia
3,Russia,1.844000e+09,2023,Central Asia
4,Japan,9.602300e+08,2023,East and Southeast Asia
...,...,...,...,...
211,Falkland Islands (Islas Malvinas),3.600000e+01,2023,South America
212,Montserrat,2.400000e+01,2023,Central America and the Caribbean
213,Antarctica,1.500000e+01,2023,Antarctica
214,"Saint Helena, Ascension, and Tristan da Cunha",1.200000e+01,2023,Africa
215,Niue,9.000000e+00,2023,Australia and Oceania

In [115]:
#LLamamos de nuevo a la copia para hacer el mimso procedimiento.
carbon_copy=carbon.copy()

#Pero en esta ocasion usaremos la funcion .loc[] para seleccionar la columna que quiero omitir en la tabla.
carbon_copy=carbon_copy.loc[:, carbon_copy.columns !='ranking']

#Devolvemos la tabla con el cambio realizado.
carbon_copy

,name,metric_tonnes_of_CO2,date_of_information,region
0,China,1.219600e+10,2023,East and Southeast Asia
1,United States,4.795000e+09,2023,North America
2,India,2.821000e+09,2023,South Asia
3,Russia,1.844000e+09,2023,Central Asia
4,Japan,9.602300e+08,2023,East and Southeast Asia
...,...,...,...,...
211,Falkland Islands (Islas Malvinas),3.600000e+01,2023,South America
212,Montserrat,2.400000e+01,2023,Central America and the Caribbean
213,Antarctica,1.500000e+01,2023,Antarctica
214,"Saint Helena, Ascension, and Tristan da Cunha",1.200000e+01,2023,Africa
215,Niue,9.000000e+00,2023,Australia and Oceania

In [119]:
#Realizamos el mismo procedimiento con la funcion .iloc[].
#La unica diferencia es que usamos indices enteros para elegir las columnas a conservar.
#O tambien se pudo haber usado 'carbon_copy.columns != "ranking"'
carbon_copy=carbon.copy()
carbon_copy=carbon_copy.iloc[:, [0,1,2,4]]
carbon_copy

,name,metric_tonnes_of_CO2,date_of_information,region
0,China,1.219600e+10,2023,East and Southeast Asia
1,United States,4.795000e+09,2023,North America
2,India,2.821000e+09,2023,South Asia
3,Russia,1.844000e+09,2023,Central Asia
4,Japan,9.602300e+08,2023,East and Southeast Asia
...,...,...,...,...
211,Falkland Islands (Islas Malvinas),3.600000e+01,2023,South America
212,Montserrat,2.400000e+01,2023,Central America and the Caribbean
213,Antarctica,1.500000e+01,2023,Antarctica
214,"Saint Helena, Ascension, and Tristan da Cunha",1.200000e+01,2023,Africa
215,Niue,9.000000e+00,2023,Australia and Oceania

In [120]:
#Determinamos el pais con la menor emision del mundo
#Continuamos trabajando con la copia realizada
carbon_copy[carbon_copy.metric_tonnes_of_CO2==carbon_copy.metric_tonnes_of_CO2.min()]["name"]

215    Niue
Name: name, dtype: object

###Parte II

Determinamos el pais con menor emision de CO2 por cada region.
Para este caso tenemos ****['Europe' , 'East and Southeast Asia' , 'North America' , 'South Asia' , 'Central Asia' , 'Central America and the Caribbean' , 'South America','Africa' ,'Antarctica' , 'Australia and Oceania' , 'Middle East']***

In [121]:
#1
femdf=carbon_copy[carbon_copy["region"]=='Europe']
femdf[femdf.metric_tonnes_of_CO2==femdf.metric_tonnes_of_CO2.min()]["name"]

175    Faroe Islands
Name: name, dtype: object

In [122]:
#2
femdf=carbon_copy[carbon_copy["region"]=='East and Southeast Asia']
femdf[femdf.metric_tonnes_of_CO2==femdf.metric_tonnes_of_CO2.min()]["name"]

184    Timor-Leste
Name: name, dtype: object

In [123]:
#3
femdf=carbon_copy[carbon_copy["region"]=='North America']
femdf[femdf.metric_tonnes_of_CO2==femdf.metric_tonnes_of_CO2.min()]["name"]

210    Saint Pierre and Miquelon
Name: name, dtype: object

In [124]:
#4
femdf=carbon_copy[carbon_copy["region"]=='South Asia']
femdf[femdf.metric_tonnes_of_CO2==femdf.metric_tonnes_of_CO2.min()]["name"]

177    Bhutan
Name: name, dtype: object

In [125]:
#5
femdf=carbon_copy[carbon_copy["region"]=='Central Asia']
femdf[femdf.metric_tonnes_of_CO2==femdf.metric_tonnes_of_CO2.min()]["name"]

121    Armenia
Name: name, dtype: object

In [126]:
#6
femdf=carbon_copy[carbon_copy["region"]=='Central America and the Caribbean']
femdf[femdf.metric_tonnes_of_CO2==femdf.metric_tonnes_of_CO2.min()]["name"]

212    Montserrat
Name: name, dtype: object

In [127]:
#7
femdf=carbon_copy[carbon_copy["region"]=='South America']
femdf[femdf.metric_tonnes_of_CO2==femdf.metric_tonnes_of_CO2.min()]["name"]

211    Falkland Islands (Islas Malvinas)
Name: name, dtype: object

In [128]:
#8
femdf=carbon_copy1[carbon_copy1["region"]=='Africa']
femdf[femdf.metric_tonnes_of_CO2==femdf.metric_tonnes_of_CO2.min()]["name"]

214    Saint Helena, Ascension, and Tristan da Cunha
Name: name, dtype: object

In [129]:
#9
femdf=carbon_copy[carbon_copy["region"]=='Antarctica']
femdf[femdf.metric_tonnes_of_CO2==femdf.metric_tonnes_of_CO2.min()]["name"]

213    Antarctica
Name: name, dtype: object

In [130]:
#10
femdf=carbon_copy[carbon_copy["region"]=='Australia and Oceania']
femdf[femdf.metric_tonnes_of_CO2==femdf.metric_tonnes_of_CO2.min()]["name"]

215    Niue
Name: name, dtype: object

In [131]:
#11
femdf=carbon_copy[carbon_copy["region"]=='Middle East']
femdf[femdf.metric_tonnes_of_CO2==femdf.metric_tonnes_of_CO2.min()]["name"]

141    Gaza Strip
142     West Bank
Name: name, dtype: object

En el caso 11 obtuvimos dos paises con la menor emision en una misma region.

###Parte III

In [132]:
#Llamamos a la libreria "math"
import math

#Establecemos nuestra variable a incrementar en la tabla 'metric_tonnes_of_CO2_raiz'.
#Luego operamos nuestra variable principal de emisiones con el codigo ".apply(math)".
#Esto debido a que necesitamos aplicarlo a todos los elementos de la columna.
carbon_copy['metric_tonnes_of_CO2_raiz']=carbon_copy['metric_tonnes_of_CO2'].apply(math.sqrt)

#Retornamos a nuestra tabla
print(carbon_copy)

                                              name  metric_tonnes_of_CO2  \
0                                            China          1.219600e+10
1                                    United States          4.795000e+09
2                                            India          2.821000e+09
3                                           Russia          1.844000e+09
4                                            Japan          9.602300e+08
..                                             ...                   ...
211              Falkland Islands (Islas Malvinas)          3.600000e+01
212                                     Montserrat          2.400000e+01
213                                     Antarctica          1.500000e+01
214  Saint Helena, Ascension, and Tristan da Cunha          1.200000e+01
215                                           Niue          9.000000e+00

     date_of_information                             region  \
0                   2023            East and Southeast Asia
1                   2023                      North America
2                   2023                         South Asia
3                   2023                       Central Asia
4                   2023            East and Southeast Asia
..                   ...                                ...
211                 2023                      South America
212                 2023  Central America and the Caribbean
213                 2023                         Antarctica
214                 2023                             Africa
215                 2023              Australia and Oceania

     metric_tonnes_of_CO2_raiz
0                110435.501538
1                 69245.938509
2                 53113.086900
3                 42941.821107
4                 30987.578156
..                         ...
211                   6.000000
212                   4.898979
213                   3.872983
214                   3.464102
215                   3.000000

[216 rows x 5 columns]

###Parte 4

Nos solicitan el promedio de los valores de las emisiones de carbono para ello hacemos uso del siguiente cÃ³digo.

In [133]:
#Guardamos nuestra operacion en la variable del nombre del cual queremos "promedio_CO2".
#Luego llamamos la variable a cambiar con el codigo ".mean()".

promedio_CO2=carbon_copy['metric_tonnes_of_CO2'].mean()

#Imprimos el promedio
print(promedio_CO2)

#El promedio de las emisiones de carbon es:

171564562.3412037

###Parte 5

Nos solicitan agregar una columna con los valores de la diferencia entre el valor orginal de emision de CO2 con el valor promedio. Para ello hacemos uso del siguiente codigo.

In [134]:
#Definimos el nombre de la nueva columna a ser agregada a la tabla "carbon_copy".
#Posterior a ello llamamos a la columna con los valores originales de emision de CO2.
#Por ultimo realizamos la operacion con el simbolo "-" agregando despues de este el promedio calculado anteriormente.

carbon_copy['diferencia_metric_promedio']=carbon_copy['metric_tonnes_of_CO2']-promedio_CO2

#Imprimimos la forma de la nueva tabla.
print(carbon_copy)

                                              name  metric_tonnes_of_CO2  \
0                                            China          1.219600e+10
1                                    United States          4.795000e+09
2                                            India          2.821000e+09
3                                           Russia          1.844000e+09
4                                            Japan          9.602300e+08
..                                             ...                   ...
211              Falkland Islands (Islas Malvinas)          3.600000e+01
212                                     Montserrat          2.400000e+01
213                                     Antarctica          1.500000e+01
214  Saint Helena, Ascension, and Tristan da Cunha          1.200000e+01
215                                           Niue          9.000000e+00

     date_of_information                             region  \
0                   2023            East and Southeast Asia
1                   2023                      North America
2                   2023                         South Asia
3                   2023                       Central Asia
4                   2023            East and Southeast Asia
..                   ...                                ...
211                 2023                      South America
212                 2023  Central America and the Caribbean
213                 2023                         Antarctica
214                 2023                             Africa
215                 2023              Australia and Oceania

     metric_tonnes_of_CO2_raiz  diferencia_metric_promedio
0                110435.501538                1.202444e+10
1                 69245.938509                4.623435e+09
2                 53113.086900                2.649435e+09
3                 42941.821107                1.672435e+09
4                 30987.578156                7.886654e+08
..                         ...                         ...
211                   6.000000               -1.715645e+08
212                   4.898979               -1.715645e+08
213                   3.872983               -1.715645e+08
214                   3.464102               -1.715646e+08
215                   3.000000               -1.715646e+08

[216 rows x 6 columns]

In [135]:
# carbon_copy.to_csv("carbon_copy.csv",index=False)
carbon_copy.to_csv("carbon_copy.csv",index=False)